/*navigation bar  */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent ;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: white;
  }
  

// body//
body {
    font-family: Arial, sans-serif;
   
    background-repeat: no-repeat;
    background-size: cover;
}

  

   h1 {
    margin: 0;
  }
  
  main {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
  }
  
  h2 {
    color: black;
  }
  
  h3 {
    color: #666;
  }
  
 main ul {
    list-style-type: disc;
    margin-left: 20px;
  }
  
  
  
  